html {
  font-size: 10px;
}
header {
  background: url('./assets/img/bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  color: #FCFDFD;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
}
@import url(https:http://fonts.googleapis.com/css?family=Raleway|Titillium+Web);{
.bigheadline {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 10em;
  margin: 0;
}
.subheadline {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin: 10px 0 0 0;
}
}
.icons-social {
  padding: 10px;
}

.icons-social a {
  color: white;
}

.icons-social i {
  font-size: 3em;
  padding: 10px;
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 5px;
  }
}
